@model List<Car>

<h4>Search for a List of Cars!</h4>
<form asp-action="Results" asp-controller="Home">
    <label for="year">Year</label>
    <input type="number" name="year" />
    <br />

    <label for="make">Make</label>
    <input type="text" name="make" />
    <br />

    <label for="model">Model</label>
    <input type="text" name="model" />
    <br />

    <label for="color">Color</label>
    <input type="text" name="color" />
    <br />

    <input type="submit" />
</form>



<table style="width: 50%">
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Color</th>
    </tr>
    @foreach (Car c in Model)
    {
        <tr>
            <td>@c.year</td>
            <td>@c.make</td>
            <td>@c.model</td>
            <td>@c.color</td>
        </tr>
    }
</table>
